{% extends 'web/main.html' %}
{% load static %}
{% block title_page %}
	<title>Заявка RASTEH.BY</title>
{% endblock title_page %}
{%block content%}
<section class="main-section paddind" id="Portfolio">
    <h2>Оставьте заявку</h2>
		<div class="container">
            <div class="animated fadeInDown delay-05s">
                <div class="text-center">
                    <p>Здесь вы можете оставить заявку на интересующую Вас продукцию, которой нет в нашем каталоге.</p>
                </div>
            </div>
            <div class="text-center">
                <form method="POST">
                    <ul class="main-nav">
                        <li><a> {{ form.as_p}} </a></li>

                        <li><a href='{% csrf_token %}'></a></li>
                    </ul>
                    {% csrf_token %}
                    <ul class="Portfolio-nav wow fadeIn delay-02s">
                         <li><a> <input type="submit"></li></a>
                    </ul>

                </form>
            </div>
        </div>
</section>
{%endblock content%}